<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CurriculumDao">
	<insert id="addCurriculum" parameterType="Curriculum">
		insert into curriculum(
		c_name,c_introduction,c_author,c_date,c_background,c_Software,c_typeOfCourse,c_typeOfContent,c_level,c_users,m_id,u_id,c_vip) 
		values(#{c_name},#{c_introduction},#{c_author},#{c_date},#{c_background},#{c_Software},#{c_typeOfCourse},#{c_typeOfContent},#{c_level},#{c_users},#{m_id},#{u_id},#{c_vip})
	</insert>
	<select id="queryCurriculum" resultType="Curriculum">
		select c_id,c_name,c_introduction,c_author,c_date,c_background,c_Software,c_typeOfCourse,c_typeOfContent,c_level,c_users,m_id,u_id,c_vip 
		from curriculum where u_id = #{param1}
	</select>
</mapper>
