<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.LanguageDao">
	
	<!-- 语言分类查询 -->
	<select id="queryAll" resultType="com.entity.Language">
		select * from language
	</select>
	
	<!-- 添加语言分类 -->
	<insert id="add">
		insert into language(l_name,d_id)values(#{l_name},#{d_id})
	</insert>
	
	<!-- 修改语言分类 -->
	<update id="upd">
		update from language set l_name=#{l_name},d_id=#{d_id} where l_id = #{l_id}
	</update>
	
	<!-- 删除语言分类 -->
	<delete id="del" parameterType="java.lang.Integer">
		delete from language where l_id = #{param1}
	</delete>
	
	<!-- 根据语言查询所有课程 -->
	<select id="queryByLanguage" parameterType="java.lang.String" resultType="com.entity.Curriculum">
		select * from curriculum where m_id in (select m_id from module
		 where l_id = (select l_id from language where l_name = #{param1}))
	</select>
	
</mapper>
