<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.LanguageDao">
	<!-- 语言分类查询 -->
	<select id="queryAll" resultType="com.entity.Language">
		select * from language
	</select>
	
	<!-- 添加语言分类 -->
	<insert id="add">
		insert into language(l_name,d_id)values(#{l_name},#{d_id})
	</insert>
	
	<!-- 修改语言分类 -->
	<update id="upd">
		update from language set l_name=#{l_name},d_id=#{d_id} where l_id = #{l_id}
	</update>
	
	<!-- 删除语言分类 -->
	<delete id="del" parameterType="java.lang.Integer">
		delete from language where l_id = #{param1}
	</delete>
	
	<!-- 根据语言查询所有课程 -->
	<select id="queryByLanguage" resultType="com.entity.Curriculum">
		select * from curriculum where m_id in (select m_id from module
		 <where>
		 	l_id = (select l_id from language where l_name = #{param1}))
		 	<if test="param2 != null">
		 		and c_vip = #{param2} 
		 	</if>
		 	<if test="param3 != null">
		 		and c_level = #{param3}
		 	</if>
				order by c_date desc
		 </where>
	</select>
	
	<!-- 分页查询所有语言分类 -->
	<select id="queryLanguage" resultType="com.entity.Language">
		select * from language
		<if test="param1 != null and param2 != null">
			limit #{param1},#{param2}
		</if>
		<if test="param1 == null and param2 ==null">
			limit 1
		</if>
	</select>
	
	<select id="queryByD_id" parameterType="java.lang.Integer" resultType="com.entity.Language">
		select * from language where d_id = #{param1}
	</select>
	
	<select id="SelectByD_id" resultType="map">
		select l.l_id,l.l_name,d.d_id did,d_name from language l left join direction d on l.d_id = d.d_id
		<if test="param1 != null and param2 != null">
			limit #{param1},#{param2}
		</if>
		<if test="param1 == null and param2 == null">
			limit 1
		</if>
	</select>
	
</mapper>
