<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>骇客学院IT在线教育平台</title>
    <meta name="keywords" content="极客学院,IT职业教育,IT在线教育平台,IT在线教育,IT在线学习,it职业培训,android,ios,flash,java,python,html5,swift,cocos2dx" />
    <meta name="description" content="极客学院作为中国专业IT职业在线教育平台,拥有海量高清IT职业课程,涵盖30+个技术领域,如Android,iOS ,Flash,Java,Python,HTML5,Swift,Cocos2dx等视频教程.根据IT在线学习特点,极客学院推出IT学习知识体系图,IT职业学习实战路径图,帮助IT学习者从零基础起步,结合IT实战案例演练,系统学习,助你快速成为IT优秀技术人才！" />
    <link rel="stylesheet" href="css/common_sync0_libs_4d81287.css" />
    <link rel="stylesheet" href="css/common_sync1_libs_769abc5.css" />
    <link rel="stylesheet" href="https://s1.jikexueyuan.com/common/widget/header/header_d41d8cd.css" />
    <link rel="stylesheet" href="css/index_sync0_libs_63f8fb8.css" />
    <script type="text/javascript" src="js/growingio.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/mask.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/jquery.min.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/header.min.js?t=1544581681296"></script>
    <script type="text/javascript" src="js/web_socket.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/websocket.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/vue2.5.13.min.js"></script>
    <script type="text/javascript" src="js/axios0.18.0.min.js"></script>
    <script type="text/javascript" src="js/vue-resource.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header_top_notice"></div>
        <div id="jk-header">
            <div class="header">
                <h1>
                    <a href="index.html" class="logo">
                        <img src="img/logo.png" width="100px" alt="骇客学院" />
                    </a>
                </h1>
                <nav style="width:490px;">
                    <ul>
                        <li>
                            <a href="index.html" class="home">首页</a>
                        </li>
                        <li class="careerpath">
                            <a href="">职业</a><i class="slide-icon"></i>
                            <div class="zhiye-submenu slide-submeu">
                            </div>
                        </li>
                        <li>
                            <a href="">课程</a><i class="slide-icon"></i>
                            <div class="slide-submeu">
                            </div>
                        </li>
                        <li>
                            <a href="">企业</a><i class="slide-icon"></i>
                            <div class="slide-submeu qy-box">
                            </div>
                        </li>
                        <li>
                            <a href="">社区</a><i class="slide-icon"></i>
                            <div class="slide-submeu">
                                <a href="art.html">技术问答</a>
                            </div>

                        </li>
                    </ul>
                </nav>
                <div class="nav-other">
                    <div id="y-login">
                        <div class="centerbox" style="display: inline-block;">
                            <a href="ke_doing.html" class="learn-center" title="学习中心"></a>
                        </div>
                        <div class="centerbox" style="display: inline-block;">
                            <a href="" class="message" id="message" title="消息中心">
                                <i class="have" id="have" style="display: none;"></i>
                            </a>
                        </div>
                        <span class="userinfo-login" id="userinfo-login" style="display: inline-block;">
                            <a href="setting_user.html">
                                <img src="img/default.gif" id="userpoto">
                            </a>
                            <i id="uservip-icon"></i>
                            <div class="slide-submeu user-slide">
                                <a href="ke_doing.html"><i class="learningcenter-icon"></i>学习中心</a>
                                <a href="learn_center.html"><i class="homepage-icon"></i>个人主页</a>
                                <a href="setting_user.html"><i class="set-icon"></i>账号设置</a>
                                <a href="user/logout?path=index"><i class="exit-icon"></i>退出登录</a>
                            </div>
                        </span>
                    </div>
                    <div id="n-login">
                        <span class="userinfo-notlogin">
                            <a href="Login.html">登录</a><i></i>
                            <a href="Register.html">注册</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div id="pager">
            <div class="cf" style="position: relative;">
                <div class="jk-banner">
                    <div class="banner-container" style="cursor: -webkit-grab;">
                        <span id="banner-arrow-left" class="banner-arrow-left"></span>
                        <span id="banner-arrow-right" class="banner-arrow-right"></span>
                        <div class="swiper-wrapper">
                            <a href="" target="_blank" value="《从零开始学架构》banner" class="swiper-slide" style="background: url(img/53cbeea2-1fc4-4634-b254-f0009a1ed759.jpg) center center no-repeat rgb(245, 245, 245);"></a>
                            <a href="" target="_blank" value="JavaWeb工程师职业学院banner" class="swiper-slide" style=" background: url(img/b51ef504-0e8f-4240-b253-7144bdf37938.png) center center no-repeat rgb(245, 245, 245);"></a>
                            <a href="" target="_blank" value="UI/UX设计师课程" class="swiper-slide" style=" background: url(img/aab671e5-0a5f-4024-a15e-5d32506a618e.jpg) center center no-repeat rgb(245, 245, 245);"></a>
                        </div>
                        <div class="banner-pagination"></div>
                    </div>
                </div>
                <div class="aside-allCategory">
                    <div class="bd">
                        <ul class="aside-cList" v-for="(keys,values) in list">
                            <li>
                                <div>
                                    <a cgid="3" v-bind:href="'courseDetail.html?d_name='+values">{{values}}</a>
                                    <div class="list-show">
                                        <div class="knowledge-system">
                                            <p class="list-title knowledge-title"><span>知识体系</span></p>
                                            <div v-for="(vkey,vvalues) in keys">
                                                <dl v-for="(key,value) in vkey">
                                                    <dt><a v-bind:href="'courseDetail.html?l_name='+value + '&d_name=' + values" cgid="23">{{value}}</a></dt>
                                                    <dd class="cf">
                                                        <a v-bind:href="'courseDetail.html?m_name='+m+'&l_name='+value + '&d_name=' + values" cgid="147" v-for="m in key">{{m}}</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="recommend-study">
                                            <p class="list-title recommend-title"><span>推荐学习</span></p>
                                            <ul class="recommend">
                                                <li>
                                                    <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="首页左侧导航目录-JavaScript闯关记（二）">
                                                    <p>
                                                        <a href="" target="_blank">
                                                            带你领略JavaScript语言的精妙所在
                                                        </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="首页左侧导航目录+PHP服务器配置">
                                                    <p>
                                                        <a href="" target="_blank">
                                                            4小时带你玩转PHP服务器配置
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="jk-uptodate">
		    <h2>最新课程</h2>
		    <ul>
		        <li class="uptodate" v-for="z in lizt" >
		            <a v-bind:href="'2707.html?c_id='+ z.c_id +'&c_name=' + z.c_name + ''" target="_blank">
		                <img class="uptodate-img" src="images/646f3cea-46e9-4ceb-809b-3d3b47ea7a61.png" alt="">
		                <p class="uptodate-title">{{ z.c_name }}</p>
		                <p class="uptodate-info">
		                   		{{ z.c_level == 1 ? '初级':'中级' }}
		                    <span>|</span>{{ z.cid }}门课
		                </p>
		            </a>
		        </li>
		    </ul>
		</div>
            <section class="jk-story">
                <div class="story-container" style="cursor: -webkit-grab;">
                    <span class="story-arrow-left"></span>
                    <span class="story-arrow-right"></span>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background:#ccc">
                            <ul>
                                <li>
                                    <a href="//blog.jikexueyuan.com/27.html" target="_blank">
                                        <div class="story-content">
                                            <i class="blue">企业课程</i>
                                            <p>由微软亚洲研究院呈现的人工智能公开课，现免费面向所有开发者，助力开发属于你自己的开发出自己的智能服务，欢迎学习。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/mcai_a258e11.jpg" alt="微软Ai">
                                            <p>微软虚拟学院</p>
                                            <span>人工智能时代技术引领者</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/26.html" target="_blank">
                                        <div class="story-content">
                                            <i class="green">战略合作</i>
                                            <p>各位伙伴，今天我们要和大家隆重介绍一位极客学院新的战略合作伙伴Make School，将携手一起开启中美IT教育新篇章。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/make-logo_c2b1b9f.jpg" alt="Make School">
                                            <p>Make School</p>
                                            <span>Computer Science Education</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/7.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>Web大前端工程师就业班五期 03 班学员，某 985 大学信息与计算科学 2016 。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_4_3f00a8d.jpg" alt="jk_hero_4">
                                            <p>路昕宇</p>
                                            <span>入职 浪弯融科科技公司</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <a href="//blog.jikexueyuan.com/5.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>爆炸力学硕士转安卓开发，回顾自己从爆炸力学走向代码世界的历程，感触良多。庆幸自己没有留在研究所，程序员不断学习不断进步的感觉更有意义。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_2_ad7cc90.jpg" alt="jk_hero_2">
                                            <p>张少龙</p>
                                            <span>入职 北京中航智科技</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/6.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>美女程序媛，从运维转岗到前端开发工程师。工作上的变化只是一部分，遇到极客学院更重要的是让我知道了自己的潜力，不被未来的不确定性吓倒</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_3_6349af5.jpg" alt="jk_hero_3">
                                            <p>杨帆</p>
                                            <span>入职 深圳IBM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/2.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>从房地产营销策划转行前端工程师。努力并不是为了证明自己多厉害，只是对自己生活方式的一种选择，每个人都可以通过自己的努力，去决定自己生活的样子。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_1_7efb1f1.jpg" alt="jk_hero_1">
                                            <p>朱华宇</p>
                                            <span>入职 极客学院</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <div class="jk-partner">
                <h2>合作企业</h2>
                <a href="/partner" target="_blank">更多企业&nbsp;&gt;&gt;</a>
                <ul>
                    <li>
                        <a href="http://zt.jikexueyuan.com/microsoftai" target="_blank">
                            <img src="img/595b3ffa55dda.png" alt="microsoftai">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/aws" target="_blank">
                            <img src="img/5a693f86a8a7c.png" alt="AWS">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/qcloud" target="_blank">
                            <img src="img/595b401fbd968.png" alt="qcloud">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/qualcomm" target="_blank">
                            <img src="img/595b406027a96.png" alt="qualcomm">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#tuling" target="_blank">
                            <img src="img/595b4098ae446.png" alt="tuling">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#xunfei" target="_blank">
                            <img src="img/595b40c7d5dd5.png" alt="xunfei">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#cocos" target="_blank">
                            <img src="img/595b4646dc1aa.jpg" width="134px" height="45px" alt="cocos">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/zhiye/bigdata" target="_blank">
                            <img src="img/59a6641e76ec7.png" alt="sensors">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#amd" target="_blank">
                            <img src="img/595b4140b2467.png" alt="amd">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#juhe" target="_blank">
                            <img src="img/595b4164596bf.png" alt="juhe">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#qingcloud" target="_blank">
                            <img src="img/595b4181e75c3.png" alt="qingcloud">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#tencent" target="_blank">
                            <img src="img/595b4555ab167.png" alt="tencent">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#zhida" target="_blank">
                            <img src="img/595b42361df69.png" alt="zhida">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#testin" target="_blank">
                            <img src="img/595b4285e6216.png" alt="testin">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <link rel="stylesheet" href="css/footer.css?t=1513326254000" />
        <div id="footer">
            <div class="footer-content">
                <div class="contact-way">
                    <div class="other-way">
                        <a href="//blog.jikexueyuan.com/28.html " target="_blank" class="weixin-icon"></a>
                        <!--<a href="" class="tencen-icon"></a>-->
                        <a href="//weibo.com/jikexueyuan" target="_blank" class="sina-icon"></a>
                        <a href="//twitter.com/jikexueyuan" target="_blank" class="facebook-icon"></a>
                        <a href="//plus.google.com/communities/117673330839635588089" target="_blank" class="google-icon"></a>
                    </div>
                </div>
                <nav>
                    <a href="javascript:" target="_blank">关于我们</a><i>|</i>
                    <a href="javascript:" target="_blank">加入我们</a><i>|</i>
                    <a href="javascript:" target="_blank">联系我们</a><i>|</i>
                    <a href="javascript:" target="_blank">企业合作</a><i>|</i>
                    <a href="apply.html" target="_blank">讲师合作</a><i>|</i>
                    <a href="javascript:" target="_blank">帮助中心</a><i>|</i>
                    <a href="javascript:" target="_blank">黑板报</a><i>|</i>
                    <a href="javascript:" target="_blank">友情链接</a>
                </nav>
                <div class="copyright">Copyright © 2013-2018 jikexueyuan.com All Rights Reserved. 京ICP备11018032号 京公网安备11010802013056</div>
            </div>
            <div class="gotop" id="gototop">
                <span class="tel-icon">
                    <div class="tel-number"></div>
                </span>
                <!-- <a class="service" href="javascript:void(0);" onclick="meiqia()"></a> -->
                <span class="wx">
                    <div class="appewm"></div>
                </span>
                <span class="top"><i></i></span>
            </div>
        </div>
        <script type="text/javascript" src="js/login_register.min.js?t=1513326254000"></script>
        <script>
            function gotop() {
                var html = $("#gototop");
                if ($(window).scrollTop() <= 0) {
                    $("#gototop>.top>i").hide()
                }
                $("#gototop>.top").bind("click", function() {
                    if ($(window).scrollTop() <= 0) {
                        return false
                    }
                    $("body,html").animate({
                        scrollTop: 0
                    }, 200);
                    return false
                });
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 0) {
                        $("#gototop>.top>i").fadeIn()
                    } else {
                        $("#gototop>.top>i").fadeOut()
                    }
                })
            }
            $(function() {
                gotop()
            });

        </script>
        <!-- <script type="text/javascript" src="js/meiqia.js?t=1513326254000"></script> -->
    </div>
    <script type="text/javascript">
        LazyLoad = function(e) {
            function t(t, n) {
                var s, r = e.createElement(t);
                for (s in n) n.hasOwnProperty(s) && r.setAttribute(s, n[s]);
                return r
            }

            function n(e) {
                var t, n, s = i[e];
                s && (t = s.callback, n = s.urls, n.shift(), u = 0, n.length || (t && t.call(s.context, s.obj), i[e] = null, f[e].length && r(e)))
            }

            function s() {
                var t = navigator.userAgent;
                o = {
                    async: e.createElement("script").async === !0
                }, (o.webkit = /AppleWebKit\//.test(t)) || (o.ie = /MSIE|Trident/.test(t)) || (o.opera = /Opera/.test(t)) || (o.gecko = /Gecko\//.test(t)) || (o.unknown = !0)
            }

            function r(r, u, h, g, d) {
                var p, y, m, b, k, v, j = function() {
                        n(r)
                    },
                    w = "css" === r,
                    E = [];
                if (o || s(), u)
                    if (u = "string" == typeof u ? [u] : u.concat(), w || o.async || o.gecko || o.opera) f[r].push({
                        urls: u,
                        callback: h,
                        obj: g,
                        context: d
                    });
                    else
                        for (p = 0, y = u.length; y > p; ++p) f[r].push({
                            urls: [u[p]],
                            callback: p === y - 1 ? h : null,
                            obj: g,
                            context: d
                        });
                if (!i[r] && (b = i[r] = f[r].shift())) {
                    for (l || (l = e.head || e.getElementsByTagName("head")[0]), k = b.urls, p = 0, y = k.length; y > p; ++p) {
                        if (v = k[p], w ? m = o.gecko ? t("style") : t("link", {
                                href: v,
                                rel: "stylesheet"
                            }) : (m = t("script", {
                                src: v
                            }), m.async = !1), m.className = "lazyload", m.setAttribute("charset", "utf-8"), o.ie && !w && "onreadystatechange" in m && !("draggable" in m)) m.onreadystatechange = function() {
                            /loaded|complete/.test(m.readyState) && (m.onreadystatechange = null, j())
                        };
                        else if (w && (o.gecko || o.webkit))
                            if (o.webkit) {
                                var T;
                                if (b.urls[p] = m.href, T = c()) {
                                    p--, y = k.length;
                                    continue
                                }
                            } else m.innerHTML = '@import "' + v + '";', a(m);
                        else m.onload = m.onerror = j;
                        E.push(m)
                    }
                    var A = document.createDocumentFragment();
                    for (p = 0, y = E.length; y > p; ++p) A.appendChild(E[p]);
                    var x;
                    return "css" === r ? x = l : "js" === r && (x = document.getElementById("pages-container") || l), x.appendChild(A), E
                }
            }

            function a(e) {
                var t;
                try {
                    t = !!e.sheet.cssRules
                } catch (s) {
                    return u += 1, void(200 > u ? setTimeout(function() {
                        a(e)
                    }, 50) : t && n("css"))
                }
                n("css")
            }

            function c() {
                var e, t = i.css,
                    s = !1;
                if (t) {
                    for (e = h.length; --e >= 0;)
                        if (h[e].href === t.urls[0]) {
                            s = !0, n("css");
                            break
                        } u += 1, t && (200 > u ? setTimeout(c, 50) : n("css"))
                }
                return s
            }
            var o, l, i = {},
                u = 0,
                f = {
                    css: [],
                    js: []
                },
                h = e.styleSheets;
            return {
                css: function(e, t, n, s) {
                    r("css", e, t, n, s)
                },
                js: function(e, t, n, s) {
                    r("js", e, t, n, s)
                }
            }
        }(this.document);

    </script>

    <script type="text/javascript">
        var _ready = false;
        _list = [];
        _when = function(cb) {
            _ready ? cb() : _list.push(cb);
        };
        LazyLoad.js(['js/TweenMax.min_5a7da72.js', 'js/common_sync0_libs_978038b.js', 'js/setcookie_51991d5.js', 'js/swfobject_5fb5452.js', 'js/common_sync1_libs_e7422e7.js', 'js/swiper_3a71085.js', 'js/banner_5545b73.js', 'js/subscription_a776ed5.js', 'js/category_0baf6ef.js', 'js/story_bcd7ee4.js'], function() {
            ! function() {
                require("index:widget/banner/banner.js").init();
            }();
            ! function() {
                require("index:widget/subscription/subscription.js").init();
            }();
            ! function() {
                require("index:widget/story/story.js").init();
            }();;
            _ready = true;
            var _item;
            while ((_item = _list.shift())) {
                _item();
            }
        });

    </script>
    <script type="text/javascript">
        var app = new Vue({
            el: "#wrapper",
            data: {
                list: {},
                liqt: [],
                lizt: []
            },
            created: function() {
                this.alls();
                this.showUser();
                this.queryCurriculum();
            },
            methods: {
                alls: function() {
                    var url = "language/query"; //"module/queryAll"
                    this.$http.post(url).then(function(response) {
                        //console.log(response.data);
                        this.list = response.data; //查询所有的技术方向、语言、模块
                    });
                },
                showUser: function() { //通过cookie查询用户是否处于登陆状态
                    var url = "user/queryByUsers";
                    var str = this.getCookie("phone");
                    var formData = new FormData();
                    formData.append("phone", str)
                    if (str != "") {
                        this.$http.post(url, formData).then(function(response) {
                            //console.log("data:" + response.data.u_phone);
                            if (response.data.u_phone == undefined || response.data.u_phone == ""){
                            	$("#y-login").hide();
                                $("#n-login").show();
                            }else if (response.data.u_phone == str) {
                                $("#y-login").show(); //如果查询的用户账号与本地储存的值相等
                                $("#n-login").hide(); //则显示长在登录状态，否则显示离线状态
                                $("#userpoto").attr("src", response.data.u_photo);
                            } else {
                                $("#y-login").hide();
                                $("#n-login").show();
                            }
                        });
                    } else {
                        $("#y-login").hide();
                        $("#n-login").show();
                    }
                },
                queryCurriculum: function(){
                	var url = "/curriculum/selectAll";
                	this.$http.post(url).then(function(response) {
                        this.lizt = response.data; //查询所有的技术方向、语言、模块
                    });
                },
                getCookie: function(key) {
                    var arr1 = document.cookie.split("; ");
                    for (var i = 0; i < arr1.length; i++) {
                        var arr2 = arr1[i].split("="); //通过=截断，把name=Jack截断成[name,Jack]数组;
                        if (arr2[0] == key) {
                            return decodeURI(arr2[1]);
                        }
                    }
                }
            }
        });

    </script>
</body>

</html>
