<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>骇客学院IT在线教育平台</title>
    <meta name="keywords" content="极客学院,IT职业教育,IT在线教育平台,IT在线教育,IT在线学习,it职业培训,android,ios,flash,java,python,html5,swift,cocos2dx" />
    <meta name="description" content="极客学院作为中国专业IT职业在线教育平台,拥有海量高清IT职业课程,涵盖30+个技术领域,如Android,iOS ,Flash,Java,Python,HTML5,Swift,Cocos2dx等视频教程.根据IT在线学习特点,极客学院推出IT学习知识体系图,IT职业学习实战路径图,帮助IT学习者从零基础起步,结合IT实战案例演练,系统学习,助你快速成为IT优秀技术人才！" />

    <link rel="stylesheet" href="css/common_sync0_libs_4d81287.css" />
    <link rel="stylesheet" href="css/common_sync1_libs_769abc5.css" />
    <link rel="stylesheet" href="https://s1.jikexueyuan.com/common/widget/header/header_d41d8cd.css" />
    <link rel="stylesheet" href="css/index_sync0_libs_63f8fb8.css" />
    <script type="text/javascript" src="js/growingio.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/mask.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/jquery.min.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/header.min.js?t=1544581681296"></script>
    <script type="text/javascript" src="js/web_socket.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/websocket.js?t=1513326254000"></script>
	<script type="text/javascript" src="js/vue2.5.13.min.js"></script>
	<script type="text/javascript" src="js/axios0.18.0.min.js"></script>
	<script type="text/javascript" src="js/vue-resource.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header_top_notice"></div>
        <div id="jk-header">
            <div class="header">
                <h1>
                    <a href="index.html" class="logo" style="position: relative; top: -45px; left: -8px;">
                        <img src="img/logo.png" width="135" alt="骇客学院" />
                    </a>
                </h1>
                <nav style="width:490px;">
                    <ul>
                        <li>
                            <a href="index.html" class="home">首页</a>
                        </li>
                        <li class="careerpath">
                            <a href="">职业</a><i class="slide-icon"></i>
                            <div class="zhiye-submenu slide-submeu">
                                <strong>前端</strong>
                                <a href=""><i class="web-icon"></i>Web前端工程师</a>
                                <a href=""><i class="wx-icon"></i>微信小程序</a>
                                <strong>移动端</strong>
                                <a href=""><i class="android-icon"></i>Android工程师</a>
                                <a href=""><i class="ios-icon"></i>iOS工程师</a>
                                <strong>后端</strong>
                                <a href=""><i class="python-icon"></i>Python工程师</a>
                                <a href=""><i class="php-icon"></i>PHP工程师</a>
                                <a href=""><i class="golang-icon"></i>Golang工程师</a>
                                <a href=""><i class="java-icon"></i>JavaWeb工程师</a>
                                <strong>大数据</strong>
                                <a href="//www.jikexueyuan.com/zhiye/bigdata"><i class="data-icon"></i>大数据平台研发工程师</a>
                                <strong>人工智能</strong>
                                <a href="//www.jikexueyuan.com/zhiye/ml"><i class="mlearning-icon"></i>机器学习工程师</a>
                                <strong>区块链</strong>
                                <a href=""><i class="yw-icon"></i>区块链工程师</a>
                                <!--<a href="#"><i class="yw-icon"></i>运维工程师</a>
                                <a href="#"><i class="xmjl-icon"></i>项目经理</a>-->
                                <strong>设计</strong>
                                <a href=""><i class="ui-icon"></i>UI/UX设计师</a>
                            </div>
                        </li>
                        <li>
                            <a href="">课程</a><i class="slide-icon"></i>
                            <div class="slide-submeu">
                                <a href="">课程库</a>
                                <a href="">职业路径</a>
                                <a href="">知识体系图</a>
                                <a href="">系列课程</a>
                            </div>
                        </li>
                        <li>
                            <a href="">企业</a><i class="slide-icon"></i>
                            <div class="slide-submeu qy-box">
                                <a href=""><i class="wr-icon"></i>微软人工智能 </a>
                                <a href=""><i class="baidu-icon"></i>百度AI图像技术课</a>
                                <a href=""><i class="aws-icon"></i>AWS云计算</a>
                                <a href=""><i class="txy-icon"></i>腾讯云课程专区</a>
                                <a href=""><i class="gt-icon"></i>Qualcomm公开课 </a>
                                <a href="" class="youke-nav"><i class="youke-icon bounce"></i>企业合作新模式</a>
                            </div>
                        </li>
                        <li>
                            <a href="">社区</a><i class="slide-icon"></i>
                            <div class="slide-submeu">
                                <a href="">Wiki</a>
                                <a href="">技术问答</a>
                                <!--<a href="//qun.jikexueyuan.com/">社群</a>
                                <a href="//download.jikexueyuan.com/">资料下载</a>-->
                            </div>

                        </li>
                    </ul>
                </nav>
                <div class="search">
                    <input class="searchinput" id="searchinput" placeholder="搜索课程、问答或Wiki" />
                    <span class="search-icon" id="search-bottom"></span>
                    <div class="search-result">
                        <!-- <a href="javascript:;" class="search-hot">热门搜索 <span class="label label-green">职业课程</span></a>
                        <a href="javascript:;">hello world <span class="label label-blue">知识图谱</span></a>
                        <a href="javascript:;">hello world <span class="label label-purple">系列课程</span></a> -->
                    </div>
                </div>
                <div class="nav-other" id="nav-other">
                    <div class="centerbox" style="display: none;">
                        <a href="" class="learn-center" title="学习中心"></a>
                    </div>
                    <div class="centerbox" style="display: none;">
                        <a href="" class="message" id="message" title="消息中心">
                            <i class="have" id="have" style="display: none;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
		
        <div id="pager">
            <div class="cf" style="position: relative;">
                <div class="jk-banner">
                    <div class="banner-container" style="cursor: -webkit-grab;">
                        <span id="banner-arrow-left" class="banner-arrow-left"></span>
                        <span id="banner-arrow-right" class="banner-arrow-right"></span>
                        <div class="swiper-wrapper">
                            <a href="" target="_blank" value="《从零开始学架构》banner" class="swiper-slide" style="background: url(img/53cbeea2-1fc4-4634-b254-f0009a1ed759.jpg) center center no-repeat rgb(245, 245, 245);"></a>
                            <a href="" target="_blank" value="JavaWeb工程师职业学院banner" class="swiper-slide" style=" background: url(img/b51ef504-0e8f-4240-b253-7144bdf37938.png) center center no-repeat rgb(245, 245, 245);"></a>
                            <a href="" target="_blank" value="UI/UX设计师课程" class="swiper-slide" style=" background: url(img/aab671e5-0a5f-4024-a15e-5d32506a618e.jpg) center center no-repeat rgb(245, 245, 245);"></a>
                        </div>
                        <div class="banner-pagination"></div>
                    </div>
                </div>
                <div class="subscription-container">
                    <h3>极客头条</h3>
                    <ul class="subscription-list">
                        <li>
                            <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="VIP新课 | 光线投射">
                            <p>
                                <a href="" target="_blank">VIP新课 | 光线投射</a>
                            </p>
                        </li>
                        <li>
                            <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="VIP新课 | 3D动画">
                            <p>
                                <a href="" target="_blank">VIP新课 | 3D动画</a>
                            </p>
                        </li>
                        <li><img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="VIP新课 | OBJ模型">
                            <p>
                                <a href="" target="_blank">VIP新课 | OBJ模型</a>
                            </p>
                        </li>
                        <li>
                            <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="VIP新课 | 纹理">
                            <p>
                                <a href="" target="_blank">VIP新课 | 纹理</a>
                            </p>
                        </li>
                        <li>
                            <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="VIP新课 | 相机控制">
                            <p>
                                <a href="" target="_blank">VIP新课 | 相机控制</a>
                            </p>
                        </li>
                    </ul>
                    <form class="subscription-sub">
                        <div class="form-container">
                            <input id="subscript_email" type="text" name="email" placeholder="请输入您的邮箱地址">
                            <a href="javascript:;" class="subscription-btn" id="subscript_sub">订阅</a>
                            <div class="error-content">
                                <p class="content">请输入正确的邮箱地址。</p>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="aside-allCategory">
                    <div class="bd">
                        <ul class="aside-cList" v-for="(keys,values) in list">
                            <li>
                                <div>
                                    <a cgid="3" href="">{{values}}</a>
                                    <div class="list-show">
                                        <div class="knowledge-system">
                                            <p class="list-title knowledge-title"><span>知识体系</span></p>
                                            <div v-for="(vkey,vvalues) in keys">
                                                <dl v-for="(key,value) in vkey">
                                                    <dt><a href="" cgid="23">{{value}}</a></dt>
                                                    <dd class="cf" v-for="m in key">
                                                        <a href="" cgid="147">{{m}}</a>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="recommend-study">
                                            <p class="list-title recommend-title"><span>推荐学习</span></p>
                                            <ul class="recommend">
                                                <li>
                                                    <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="首页左侧导航目录-JavaScript闯关记（二）">
                                                    <p>
                                                        <a href="" target="_blank">
                                                            带你领略JavaScript语言的精妙所在
                                                        </a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <img src="img/bc5087ba-9bd9-422e-9084-39a492830d7e.png" alt="首页左侧导航目录+PHP服务器配置">
                                                    <p>
                                                        <a href="" target="_blank">
                                                            4小时带你玩转PHP服务器配置
                                                        </a>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="minbanner">
                <h3 style="display: none;">极客广告位</h3>
                <div class="ad-contain">
                    <a class="ad-item" href="http://ad.jikexueyuan.com/v1/code_slot/9/creative/144/redirect?delivery_ad_id=146&amp;_t=1551399768" target="_blank">
                        <img src="img/7e3cfc23-9e2a-40e6-b3c7-1bedb0789ba3.jpg" alt="首页轮播图下方图片-JavaScript数据结构系列">
                    </a>
                    <a class="ad-item" href="http://ad.jikexueyuan.com/v1/code_slot/10/creative/140/redirect?delivery_ad_id=147&amp;_t=1551399768" target="_blank">
                        <img src="img/1843237e-3f75-407a-88e2-1daa227ab18e.jpg" alt="首页轮播图下方+人才码头">
                    </a>
                    <a class="ad-item" href="http://ad.jikexueyuan.com/v1/code_slot/11/creative/41/redirect?delivery_ad_id=148&amp;_t=1551399768" target="_blank">
                        <img src="img/0dd1a43d-dc69-462f-899b-c357e4f1e668.jpg" alt="广告位_03 SVIP 20170727-20170731">
                    </a>
                </div>
            </div>
            <div class="jk-uptodate">
                <h2>最新课程</h2>
                <ul>
                    <li class="uptodate">
                        <a href="/zhiye/course/182.html?type=57" target="_blank">
                            <img class="uptodate-img" src="img/24217793-9f48-4998-842c-fd2d9780c5be.png" alt="">
                            <p class="uptodate-title">从零开始学架构</p>
                            <p class="uptodate-info">
                                高级
                                <span>|</span>10门课
                            </p>
                        </a>
                    </li>
                    <li class="uptodate">
                        <a href="/zhiye/course/211.html?type=60" target="_blank">
                            <img class="uptodate-img" src="img/4bf13846-ae24-4648-857f-ad6a29e4dab8.png" alt="">
                            <p class="uptodate-title">用户体验设计</p>
                            <p class="uptodate-info">
                                中级
                                <span>|</span>1门课
                            </p>
                        </a>
                    </li>
                    <li class="uptodate">
                        <a href="/zhiye/course/210.html?type=60" target="_blank">
                            <img class="uptodate-img" src="img/3fa3d665-78a2-43e5-ae19-8992b2bd2433.png" alt="">
                            <p class="uptodate-title">Material Design</p>
                            <p class="uptodate-info">
                                中级
                                <span>|</span>1门课
                            </p>
                        </a>
                    </li>
                    <li class="uptodate">
                        <a href="/zhiye/course/209.html?type=60" target="_blank">
                            <img class="uptodate-img" src="img/ed3e58d9-b55f-4184-93b7-adad885da136.png" alt="">
                            <p class="uptodate-title">移动设计-iOS人机界面指南之视觉设计</p>
                            <p class="uptodate-info">
                                中级
                                <span>|</span>1门课
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="zhiye">
                <h2>职业方向</h2>
                <a href="/zhiye/" target="_blank">更多职业方向&nbsp;&gt;&gt;</a>
                <ul>
                    <li class="status">
                        <a class="card " href="/zhiye/android" target="_blank">
                            <img src="img/6227c34f-5efd-4df2-911d-91654cb0691c.png" alt="Android工程师">
                            <h3>Android工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/web" target="_blank">
                            <img src="img/4cdffb64-3d45-49f3-84c3-60f2349a25c2.png" alt="Web前端工程师">
                            <h3>Web前端工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/wechatapp" target="_blank">
                            <img src="img/f1f87ca2-3d23-4220-8043-52394a190b89.png" alt="微信小程序工程师">
                            <h3>微信小程序工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/python" target="_blank">
                            <img src="img/5e981faa-abed-4974-a127-d616c8076328.png" alt="Python工程师">
                            <h3>Python工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/php" target="_blank">
                            <img src="img/914408a9-afc8-4aaf-8ff3-f7a2497bfeba.png" alt="PHP工程师">
                            <h3>PHP工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/go" target="_blank">
                            <img src="img/6a6c62c4-a823-44f8-942c-0a0e0e256b17.png" alt="Go语言工程师">
                            <h3>Go语言工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/ios" target="_blank">
                            <img src="img/8950bb99-3b4e-4e1e-a0d4-ffbf04590c15.png" alt="iOS工程师">
                            <h3>iOS工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/bigdata" target="_blank">
                            <img src="img/41f60ad5-db13-416e-ad37-08495dbc0377.png" alt="大数据平台研发工程师">
                            <h3>大数据平台研发工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/ml" target="_blank">
                            <img src="img/816d64ca-6d0d-4507-b640-c9cd5dcd4bc4.png" alt="机器学习工程师">
                            <h3>机器学习工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/Java" target="_blank">
                            <img src="img/5b96c9b6-4a07-4b76-af76-9b8cbd0de462.png" alt="JavaWeb工程师">
                            <h3>JavaWeb工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/ux" target="_blank">
                            <img src="img/5e117f6e-a8e7-4947-9692-16366fc767c8.png" alt="UI/UX设计师">
                            <h3>UI/UX设计师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/blockchain" target="_blank">
                            <img src="img/c53c796c-dde7-42d8-97b7-7a6ff7c0d06f.png" alt="区块链工程师">
                            <h3>区块链工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/da" target="_blank">
                            <img src="img/9da53051-ea22-46b3-a28d-5e679e7bc943.png" alt="数据分析工程师">
                            <h3>数据分析工程师</h3>
                        </a>
                    </li>
                    <li class="status">
                        <a class="card " href="/zhiye/operations" target="_blank">
                            <img src="img/0e60330b-ae26-4858-850c-05e465f9c1a0.png" alt="运维工程师">
                            <h3>运维工程师</h3>
                        </a>
                    </li>
                    <li>
                        <div class="card">
                            <img src="img/9ef6a548-9702-4c5b-96a2-a04995dd738e.png" alt="测试工程师" title="即将上线">
                            <h3>测试工程师</h3>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="vip">
                <h2>知识体系</h2>
                <a href="/path" target="_blank">更多知识体系&nbsp;&gt;&gt;</a>
                <ul>
                    <li>
                        <a href="/path/html5" target="_blank">
                            <img src="img/595b876537116.png" alt="HTML5开发">
                            <h3>HTML5开发</h3>
                            <span>116门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/android" target="_blank">
                            <img src="img/595b878d67fdd.png" alt="Android">
                            <h3>Android</h3>
                            <span>90门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/javaweb" target="_blank">
                            <img src="img/595b87bf6cec5.png" alt="JavaWeb">
                            <h3>JavaWeb</h3>
                            <span>64门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/nodejs" target="_blank">
                            <img src="img/595b87d12c634.png" alt="Node.js">
                            <h3>Node.js</h3>
                            <span>39门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/bootstrap" target="_blank">
                            <img src="img/595b87e3c9351.png" alt="Bootstrap">
                            <h3>Bootstrap</h3>
                            <span>11门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/unity3d" target="_blank">
                            <img src="img/595b8805ce869.png" alt="Unity3D">
                            <h3>Unity3D</h3>
                            <span>45门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/ios" target="_blank">
                            <img src="img/595b881a26b3b.png" alt="iOS开发">
                            <h3>iOS开发</h3>
                            <span>51门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/java" target="_blank">
                            <img src="img/595b8829d33ec.png" alt="Java语言">
                            <h3>Java语言</h3>
                            <span>45门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/php" target="_blank">
                            <img src="img/595b886903b76.png" alt="PHP语言">
                            <h3>PHP语言</h3>
                            <span>23门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/python" target="_blank">
                            <img src="img/595b88771f5b2.png" alt="Python">
                            <h3>Python</h3>
                            <span>38门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/swift" target="_blank">
                            <img src="img/595b88843e58d.png" alt="Swift语言">
                            <h3>Swift语言</h3>
                            <span>11门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/javascript" target="_blank">
                            <img src="img/595b88929e943.png" alt="JavaScript">
                            <h3>JavaScript</h3>
                            <span>43门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/c" target="_blank">
                            <img src="img/595b88b8739f6.png" alt="C语言">
                            <h3>C语言</h3>
                            <span>17门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/aspdotnet" target="_blank">
                            <img src="img/595b88d574b22.png" alt="Asp.Net">
                            <h3>Asp.Net</h3>
                            <span>61门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/cocos2d-x" target="_blank">
                            <img src="img/595b88f1e8ed4.png" alt="Cocos2d-x游戏开发">
                            <h3>Cocos2d-x游戏开发</h3>
                            <span>89门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/csharp" target="_blank">
                            <img src="img/595b8907d4aba.png" alt="C#">
                            <h3>C#</h3>
                            <span>30门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/gui" target="_blank">
                            <img src="img/595b895a7f00a.png" alt="GUI">
                            <h3>GUI</h3>
                            <span>40门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/docker" target="_blank">
                            <img src="img/595b89670adf8.png" alt="Docker">
                            <h3>Docker</h3>
                            <span>9门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/arduino" target="_blank">
                            <img src="img/595b897841a09.png" alt="Arduino">
                            <h3>Arduino</h3>
                            <span>14门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/egret" target="_blank">
                            <img src="img/595b8985638f0.png" alt="Egret">
                            <h3>Egret</h3>
                            <span>7门课程</span>
                        </a>
                    </li>
                    <li>
                        <a href="/path/uiautomator" target="_blank">
                            <img src="img/595b8993e8cd3.png" alt="Android UiAutomator">
                            <h3>Android UiAutomator</h3>
                            <span>20门课程</span>
                        </a>
                    </li>
                </ul>
            </div>

            <section class="jk-story">
                <div class="story-container" style="cursor: -webkit-grab;">
                    <span class="story-arrow-left"></span>
                    <span class="story-arrow-right"></span>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background:#ccc">
                            <ul>
                                <li>
                                    <a href="//blog.jikexueyuan.com/27.html" target="_blank">
                                        <div class="story-content">
                                            <i class="blue">企业课程</i>
                                            <p>由微软亚洲研究院呈现的人工智能公开课，现免费面向所有开发者，助力开发属于你自己的开发出自己的智能服务，欢迎学习。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/mcai_a258e11.jpg" alt="微软Ai">
                                            <p>微软虚拟学院</p>
                                            <span>人工智能时代技术引领者</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/26.html" target="_blank">
                                        <div class="story-content">
                                            <i class="green">战略合作</i>
                                            <p>各位伙伴，今天我们要和大家隆重介绍一位极客学院新的战略合作伙伴Make School，将携手一起开启中美IT教育新篇章。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/make-logo_c2b1b9f.jpg" alt="Make School">
                                            <p>Make School</p>
                                            <span>Computer Science Education</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/7.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>Web大前端工程师就业班五期 03 班学员，某 985 大学信息与计算科学 2016 。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_4_3f00a8d.jpg" alt="jk_hero_4">
                                            <p>路昕宇</p>
                                            <span>入职 浪弯融科科技公司</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="swiper-slide">
                            <ul>
                                <li>
                                    <a href="//blog.jikexueyuan.com/5.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>爆炸力学硕士转安卓开发，回顾自己从爆炸力学走向代码世界的历程，感触良多。庆幸自己没有留在研究所，程序员不断学习不断进步的感觉更有意义。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_2_ad7cc90.jpg" alt="jk_hero_2">
                                            <p>张少龙</p>
                                            <span>入职 北京中航智科技</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/6.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>美女程序媛，从运维转岗到前端开发工程师。工作上的变化只是一部分，遇到极客学院更重要的是让我知道了自己的潜力，不被未来的不确定性吓倒</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_3_6349af5.jpg" alt="jk_hero_3">
                                            <p>杨帆</p>
                                            <span>入职 深圳IBM</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="//blog.jikexueyuan.com/2.html" target="_blank">
                                        <div class="story-content">
                                            <i>学员故事</i>
                                            <p>从房地产营销策划转行前端工程师。努力并不是为了证明自己多厉害，只是对自己生活方式的一种选择，每个人都可以通过自己的努力，去决定自己生活的样子。</p>
                                        </div>
                                        <div class="story-info">
                                            <img src="img/student_1_7efb1f1.jpg" alt="jk_hero_1">
                                            <p>朱华宇</p>
                                            <span>入职 极客学院</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>


            <div class="jk-partner">
                <h2>合作企业</h2>
                <a href="/partner" target="_blank">更多企业&nbsp;&gt;&gt;</a>
                <ul>
                    <li>
                        <a href="http://zt.jikexueyuan.com/microsoftai" target="_blank">
                            <img src="img/595b3ffa55dda.png" alt="microsoftai">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/aws" target="_blank">
                            <img src="img/5a693f86a8a7c.png" alt="AWS">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/qcloud" target="_blank">
                            <img src="img/595b401fbd968.png" alt="qcloud">
                        </a>
                    </li>
                    <li>
                        <a href="http://zt.jikexueyuan.com/qualcomm" target="_blank">
                            <img src="img/595b406027a96.png" alt="qualcomm">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#tuling" target="_blank">
                            <img src="img/595b4098ae446.png" alt="tuling">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#xunfei" target="_blank">
                            <img src="img/595b40c7d5dd5.png" alt="xunfei">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#cocos" target="_blank">
                            <img src="img/595b4646dc1aa.jpg" width="134px" height="45px" alt="cocos">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/zhiye/bigdata" target="_blank">
                            <img src="img/59a6641e76ec7.png" alt="sensors">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#amd" target="_blank">
                            <img src="img/595b4140b2467.png" alt="amd">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#juhe" target="_blank">
                            <img src="img/595b4164596bf.png" alt="juhe">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#qingcloud" target="_blank">
                            <img src="img/595b4181e75c3.png" alt="qingcloud">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#tencent" target="_blank">
                            <img src="img/595b4555ab167.png" alt="tencent">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#zhida" target="_blank">
                            <img src="img/595b42361df69.png" alt="zhida">
                        </a>
                    </li>
                    <li>
                        <a href="http://www.jikexueyuan.com/partner#testin" target="_blank">
                            <img src="img/595b4285e6216.png" alt="testin">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <link rel="stylesheet" href="css/footer.css?t=1513326254000" />
        <div id="footer">
            <div class="footer-content">
                <div class="contact-way">
                    <div class="other-way">
                        <a href="//blog.jikexueyuan.com/28.html " target="_blank" class="weixin-icon"></a>
                        <!--<a href="" class="tencen-icon"></a>-->
                        <a href="//weibo.com/jikexueyuan" target="_blank" class="sina-icon"></a>
                        <a href="//twitter.com/jikexueyuan" target="_blank" class="facebook-icon"></a>
                        <a href="//plus.google.com/communities/117673330839635588089" target="_blank" class="google-icon"></a>
                    </div>
                </div>
                <nav>
                    <a href="//help.jikexueyuan.com/" target="_blank">关于我们</a><i>|</i>
                    <a href="//help.jikexueyuan.com/join.html" target="_blank">加入我们</a><i>|</i>
                    <a href="//help.jikexueyuan.com/contact.html" target="_blank">联系我们</a><i>|</i>
                    <a href="//zt.jikexueyuan.com/b" target="_blank">企业合作</a><i>|</i>
                    <a href="//j.jikexueyuan.com/evangelist/apply" target="_blank">讲师合作</a><i>|</i>
                    <a href="//help.jikexueyuan.com/" target="_blank">帮助中心</a><i>|</i>
                    <a href="//blog.jikexueyuan.com/" target="_blank">黑板报</a><i>|</i>
                    <a href="//www.jikexueyuan.com/friendlink.html" target="_blank">友情链接</a>
                </nav>
                <div class="copyright">Copyright © 2013-2018 jikexueyuan.com All Rights Reserved. 京ICP备11018032号 京公网安备11010802013056</div>
            </div>
            <div class="gotop" id="gototop">
                <span class="tel-icon">
                    <div class="tel-number"></div>
                </span>
                <!-- <a class="service" href="javascript:void(0);" onclick="meiqia()"></a> -->
                <span class="wx">
                    <div class="appewm"></div>
                </span>
                <span class="top"><i></i></span>
            </div>
        </div>
        <script type="text/javascript" src="js/login_register.min.js?t=1513326254000"></script>
        <script>
            function gotop() {
                var html = $("#gototop");
                if ($(window).scrollTop() <= 0) {
                    $("#gototop>.top>i").hide()
                }
                $("#gototop>.top").bind("click", function() {
                    if ($(window).scrollTop() <= 0) {
                        return false
                    }
                    $("body,html").animate({
                        scrollTop: 0
                    }, 200);
                    return false
                });
                $(window).scroll(function() {
                    if ($(window).scrollTop() > 0) {
                        $("#gototop>.top>i").fadeIn()
                    } else {
                        $("#gototop>.top>i").fadeOut()
                    }
                })
            }
            $(function() {
                gotop()
            });

        </script>
        <!-- <script type="text/javascript" src="js/meiqia.js?t=1513326254000"></script> -->
    </div>
    <script type="text/javascript">
        LazyLoad = function(e) {
            function t(t, n) {
                var s, r = e.createElement(t);
                for (s in n) n.hasOwnProperty(s) && r.setAttribute(s, n[s]);
                return r
            }

            function n(e) {
                var t, n, s = i[e];
                s && (t = s.callback, n = s.urls, n.shift(), u = 0, n.length || (t && t.call(s.context, s.obj), i[e] = null, f[e].length && r(e)))
            }

            function s() {
                var t = navigator.userAgent;
                o = {
                    async: e.createElement("script").async === !0
                }, (o.webkit = /AppleWebKit\//.test(t)) || (o.ie = /MSIE|Trident/.test(t)) || (o.opera = /Opera/.test(t)) || (o.gecko = /Gecko\//.test(t)) || (o.unknown = !0)
            }

            function r(r, u, h, g, d) {
                var p, y, m, b, k, v, j = function() {
                        n(r)
                    },
                    w = "css" === r,
                    E = [];
                if (o || s(), u)
                    if (u = "string" == typeof u ? [u] : u.concat(), w || o.async || o.gecko || o.opera) f[r].push({
                        urls: u,
                        callback: h,
                        obj: g,
                        context: d
                    });
                    else
                        for (p = 0, y = u.length; y > p; ++p) f[r].push({
                            urls: [u[p]],
                            callback: p === y - 1 ? h : null,
                            obj: g,
                            context: d
                        });
                if (!i[r] && (b = i[r] = f[r].shift())) {
                    for (l || (l = e.head || e.getElementsByTagName("head")[0]), k = b.urls, p = 0, y = k.length; y > p; ++p) {
                        if (v = k[p], w ? m = o.gecko ? t("style") : t("link", {
                                href: v,
                                rel: "stylesheet"
                            }) : (m = t("script", {
                                src: v
                            }), m.async = !1), m.className = "lazyload", m.setAttribute("charset", "utf-8"), o.ie && !w && "onreadystatechange" in m && !("draggable" in m)) m.onreadystatechange = function() {
                            /loaded|complete/.test(m.readyState) && (m.onreadystatechange = null, j())
                        };
                        else if (w && (o.gecko || o.webkit))
                            if (o.webkit) {
                                var T;
                                if (b.urls[p] = m.href, T = c()) {
                                    p--, y = k.length;
                                    continue
                                }
                            } else m.innerHTML = '@import "' + v + '";', a(m);
                        else m.onload = m.onerror = j;
                        E.push(m)
                    }
                    var A = document.createDocumentFragment();
                    for (p = 0, y = E.length; y > p; ++p) A.appendChild(E[p]);
                    var x;
                    return "css" === r ? x = l : "js" === r && (x = document.getElementById("pages-container") || l), x.appendChild(A), E
                }
            }

            function a(e) {
                var t;
                try {
                    t = !!e.sheet.cssRules
                } catch (s) {
                    return u += 1, void(200 > u ? setTimeout(function() {
                        a(e)
                    }, 50) : t && n("css"))
                }
                n("css")
            }

            function c() {
                var e, t = i.css,
                    s = !1;
                if (t) {
                    for (e = h.length; --e >= 0;)
                        if (h[e].href === t.urls[0]) {
                            s = !0, n("css");
                            break
                        } u += 1, t && (200 > u ? setTimeout(c, 50) : n("css"))
                }
                return s
            }
            var o, l, i = {},
                u = 0,
                f = {
                    css: [],
                    js: []
                },
                h = e.styleSheets;
            return {
                css: function(e, t, n, s) {
                    r("css", e, t, n, s)
                },
                js: function(e, t, n, s) {
                    r("js", e, t, n, s)
                }
            }
        }(this.document);

    </script>

    <script type="text/javascript">
        var _ready = false;
        _list = [];
        _when = function(cb) {
            _ready ? cb() : _list.push(cb);
        };
        LazyLoad.js(['js/TweenMax.min_5a7da72.js', 'js/common_sync0_libs_978038b.js', 'js/setcookie_51991d5.js', 'js/swfobject_5fb5452.js', 'js/common_sync1_libs_e7422e7.js', 'js/swiper_3a71085.js', 'js/banner_5545b73.js', 'js/subscription_a776ed5.js', 'js/category_0baf6ef.js', 'js/story_bcd7ee4.js'], function() {
            ! function() {
                require("index:widget/banner/banner.js").init();
            }();
            ! function() {
                require("index:widget/subscription/subscription.js").init();
            }();
            ! function() {
                require("index:widget/story/story.js").init();
            }();;
            _ready = true;
            var _item;
            while ((_item = _list.shift())) {
                _item();
            }
        });

    </script>
    <script type="text/javascript">
	    var app = new Vue({
	        el: "#wrapper",
	        data: {
	            list: {},
	    		liqt: []
	        },
	        created: function() {
	            //this.Directions();
	            this.alls();
	        },
	        methods: {
	        	Directions: function() {
	                var url = "direction/queryAll";
	                this.$http.post(url).then(function(response) {
	                	console.log(response.data);
	                    this.list = response.data;
	                });
	            },
	        	alls: function(){
	        		var url = "language/query";//"module/queryAll"
	        		this.$http.post(url).then(function(response){
	        			console.log(response.data);
	        			this.list = response.data;
	        		});
	        	}
	        }
	    })
	</script>
</body>

</html>
