<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>骇客学院</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="css/study.min.b758b496.css" />
    <script type="text/javascript" src="js/growingio.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/mask.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/jquery.min.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/header.min.js?t=1544581681296"></script>
    <script type="text/javascript" src="js/web_socket.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/websocket.js?t=1513326254000"></script>
    <script type="text/javascript" src="js/vue2.5.13.min.js"></script>
    <script type="text/javascript" src="js/axios0.18.0.min.js"></script>
    <script type="text/javascript" src="js/vue-resource.js"></script>
</head>

<body>
    <div id="body">
        <div id="header_top_notice"></div>
        <div id="jk-header">
            <div class="header">
                <h1>
                    <a href="index.html" class="logo">
                        <img src="img/logo.png?t=1513326254000" width="100" alt="骇客学院" />
                    </a>
                </h1>
                <nav style="width:490px;">
                    <ul>
                        <li>
                            <a href="index.html" class="home">首页</a>
                        </li>
                        <!-- <li class="careerpath">
                            <a href="">VIP</a>
                        </li>
                        <li>
                            <a href="">免费</a>
                        </li> -->
                        <li>
                            <a href="art.html" target="_blank">技术问答</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-other">
                    <div id="y-login">
                        <div class="centerbox" style="display: inline-block;">
                            <a href="ke_doing.html" class="learn-center" title="学习中心"></a>
                        </div>
                        <div class="centerbox" style="display: inline-block;">
                            <a href="" class="message" id="message" title="消息中心">
                                <i class="have" id="have" style="display: none;"></i>
                            </a>
                        </div>
                        <span class="userinfo-login" id="userinfo-login" style="display: inline-block;">
                            <a href="setting_user.html">
                                <img src="img/default.gif" id="userpoto">
                            </a>
                            <i id="uservip-icon"></i>
                            <div class="slide-submeu user-slide">
                                <a href="ke_doing.html"><i class="learningcenter-icon"></i>学习中心</a>
                                <a href="learn_center.html"><i class="homepage-icon"></i>个人主页</a>
                                <a href="setting_user.html"><i class="set-icon"></i>账号设置</a>
                                <a href="user/logout?path=index"><i class="exit-icon"></i>退出登录</a>
                            </div>
                        </span>
                    </div>
                    <div id="n-login">
                        <span class="userinfo-notlogin">
                            <a href="Login.html">登录</a><i></i>
                            <a href="Register.html">注册</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">

            <input type='hidden' name='stoken' id='stoken' value='6ac0b391e91ed8ac10029a5245672660' /> <!-- container -->
            <div id="container">
                <div class="wrap">
                    <div style="margin-top:30px;"></div>
                    <link rel="stylesheet" type="text/css" href="css/head.min.css">
                    <div class="common-head">
                        <div class="common-portrait">
                            <img id="touxiang" src="img/default.gif" width="80px" alt="头像">
                            <i class="prohead-icon portrait-icon"></i> </div>

                        <div class="common-data">
                            <h3><span id="username"></span>
                                <a href="setting_ca.html" class="pro-icon" id="setpro"></a>
                                <a href="setting_vip.html" class="novip-icon" id="setvip"></a>
                            </h3>
                            <p class="common-data-info"><span id="sex">性别：保密</span>
                                <span class="local" id="address">现居住地：河南省 郑州市</span></p>
                            <p class="common-data-detail" id="intro">一句话介绍一下自己吧，让别人更了解你</p>
                        </div>
                        <a href="setting_user.html" class="edit-data">编辑个人资料</a>
                    </div>

                    <div class="user-course">
                        <div class="course-nav" id='courseNav'>
                            <a href="learn_center.html" id="navHome" class="active">我的首页</a>
                            <a href="ke_center.html" id="navStudy">学习的课程</a>
                            <!--<a href="#" class="mySettingDialog">设置</a>-->
                        </div>
                        <div class="user-course-content">
                            <div class="user-course-cont">
                                <div id='courseStudy' class="user-course-container">
                                    <h2 id="b1">学习的课程</h2>
                                    <div class="video-container lesson-list" id="bb">
                                        <ul>
                                            <li v-for="s in livt">
                                                <div class="lessonimg-box">
                                                    <button>学到第2课时</button>
                                                    <a href="/2707.html" target="_blank">
                                                        <img src="img/571f242278c8d.jpg" class="lessonimg" v-bind:title="'+ s.c_name +'" alt="'+ s.c_name +'">
                                                        <div class="lessonplay" style="opacity: 0;">
                                                            <i class="playericon"></i>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="lesson-infor" style="height: 88px;">
                                                    <h2 class="lesson-info-h2"><a href="/2707.html" target="_blank">{{ s.c_name }}</a></h2>
                                                    <p style="height: 0px; opacity: 0; display: none;">{{ s.c_introduction }}</p>
                                                    <div class="timeandicon">
                                                        <div class="cf">
                                                            <dl>
                                                                <dd class="mar-b8"><i class="time-icon"></i>
                                                                    <em>
                                                                        5课时
                                                                        85分钟 </em>
                                                                </dd>
                                                                <dd class="zhongji">
                                                                    <i class="xinhao-icon2"></i><em>{{ s.c_level }}</em>
                                                                </dd>
                                                            </dl>
                                                            <em class="learn-number">44.4K 人学习</em>
                                                        </div>
                                                        <div class="cf">
                                                            <div class="lessonicon-box">
                                                                <a target="_blank" v-bind:href="'2707.html?c_id='+s.c_id+'&c_name='+s.c_name">
                                                                    <img width="16" src="img/webbase.png" alt="html" title="HTML" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div><br>
                                    <h2 id="b2">发布的课程</h2>
                                    <div class="video-container lesson-list">
                                        <ul>
                                            <li v-for="c in list">
                                                <div class="lessonimg-box">
                                                    <button>学到第1课时</button>
                                                    <a v-bind:href="'2707.html?c_id='+c.c_id+'&c_name='+c.c_name" target="_blank">
                                                        <img src="img/54c99015e1130.jpg" class="lessonimg" v-bind:title="c.c_name" alt="Bootstrap 简介">
                                                        <div class="lessonplay" style="opacity: 0;">
                                                            <i class="playericon"></i>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="lesson-infor" style="height: 88px;">
                                                    <h2 class="lesson-info-h2"><a v-bind:href="'2707.html?c_id='+c.c_id+'&c_name='+c.c_name" target="_blank">{{c.c_name}}</a></h2>
                                                    <p style="height: 0px; opacity: 0; display: none;">{{c.c_introduction}}</p>
                                                    <div class="timeandicon">
                                                        <div class="cf">
                                                            <dl>
                                                                <dd class="mar-b8"><i class="time-icon"></i>
                                                                    <em>
                                                                        3课时
                                                                        27分钟 </em>
                                                                </dd>
                                                                <dd class="zhongji">
                                                                    <i class="xinhao-icon"></i><em>初级</em>
                                                                </dd>
                                                            </dl>
                                                            <em class="learn-number">80.9K 人学习</em>
                                                        </div>
                                                        <div class="cf">
                                                            <div class="lessonicon-box">
                                                                <a target="_blank" v-bind:href="'2707.html?c_id='+c.c_id+'&c_name='+c.c_name">
                                                                    <img width="16" src="img/57231d0e06972.png" alt="bootstrap" title="Bootstrap" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- container end -->
        </div>
    </div>
</body>


<script>
    window.IS_SELF = 1;

</script>

<script>
    window.USER_DOMAIN = '0yWVXaUjV';

</script>
<script src="js/base.min.6212b456.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/public.js"></script>
<!-- 公共头 -->
<!-- 我的VIP -->
<script src="js/myvip.min.js"></script>

<link rel="stylesheet" href="css/footer.css?t=1513326254000" />
<div id="footer">
    <div class="footer-content">
        <div class="contact-way">
            <div class="other-way">
                <a href="javascript:void(0) " target="_blank" class="weixin-icon"></a>
                <!--<a href="" class="tencen-icon"></a>-->
                <a href="javascript:void(0)" target="_blank" class="sina-icon"></a>
                <a href="javascript:void(0)" target="_blank" class="facebook-icon"></a>
                <a href="javascript:void(0)" target="_blank" class="google-icon"></a>
            </div>
        </div>
        <nav>
            <a href="javascript:void(0)" target="_blank">关于我们</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">加入我们</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">联系我们</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">企业合作</a><i>|</i>
            <a href="apply.html" target="_blank">讲师合作</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">帮助中心</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">黑板报</a><i>|</i>
            <a href="javascript:void(0)" target="_blank">友情链接</a>
        </nav>
        <div class="copyright">Copyright © 2013-2018 jikexueyuan.com All Rights Reserved. 京ICP备11018032号 京公网安备11010802013056</div>
    </div>
    <div class="gotop" id="gototop">
        <span class="tel-icon">
            <div class="tel-number"></div>
        </span>
        <!-- <a class="service" href="javascript:void(0);" onclick="meiqia()"></a> -->
        <span class="wx">
            <div class="appewm"></div>
        </span>
        <span class="top"><i></i></span>
    </div>
</div>
<script type="text/javascript" src="js/login_register.min.js?t=1513326254000"></script>
<script>
    function gotop() {
        var html = $("#gototop");
        if ($(window).scrollTop() <= 0) {
            $("#gototop>.top>i").hide()
        }
        $("#gototop>.top").bind("click", function() {
            if ($(window).scrollTop() <= 0) {
                return false
            }
            $("body,html").animate({
                scrollTop: 0
            }, 200);
            return false
        });
        $(window).scroll(function() {
            if ($(window).scrollTop() > 0) {
                $("#gototop>.top>i").fadeIn()
            } else {
                $("#gototop>.top>i").fadeOut()
            }
        })
    }
    $(function() {
        gotop()
    });

</script>
<script type="text/javascript" src="js/meiqia.js?t=1513326254000"></script>
<script>
    new Vue({
        el: '#body',
        data: {
            list: [],
            uid: "",
            livt: []
        },
        created: function() {
            this.showUser();
        },
        methods: {
            showUser: function() { //通过cookie查询用户是否处于登陆状态
                var url = "user/queryByUsers";
                var str = this.getCookie("phone");
                var formData = new FormData();
                formData.append("phone", str)
                if (str != "") {
                    this.$http.post(url, formData).then(function(response) {
                        //console.log("data:" + response.data.u_phone);
                    	if (response.data.u_phone == undefined || response.data.u_phone == ""){
                        	$("#y-login").hide();
                            $("#n-login").show();
                        }else if (response.data.u_phone == str) {
                            $("#y-login").show(); //如果查询的用户账号与本地储存的值相等
                            $("#n-login").hide(); //则显示长在登录状态，否则显示离线状态
                            $("#userpoto").attr("src", response.data.u_photo);
                            $("#touxiang").attr("src", response.data.u_photo);
                            if (response.data.u_sex == 1) {
                                $("#sex").html("性别：男"); //设置性别
                            } else if (response.data.u_sex == 0) {
                                $("#sex").html("性别：女"); //设置性别
                            } else {
                                $("#sex").html("性别：保密"); //设置性别
                            }
                            $("#username").html(response.data.u_username); //设置个人用户名
                            $("#address").html("现居住地：" + response.data.u_address); //设置住址
                            $("#intro").html(response.data.u_intro); //设置自我介绍
                            //判断是否是VIP
                            if (response.data.u_vip == null) {
                                $("#setvip").css("background-image", "url(img/novip.png)");
                            } else {
                                $("#setvip").css("background-image", "url(img/vip.png)");
                            }
                            if (response.data.u_stu_authentication == null) {
                                $("#setpro").css("background-image", "url(img/nopro.png)");
                            } else {
                                $("#setpro").css("background-image", "url(img/pro.png)");
                            }
                            this.uid = response.data.u_id;
                            this.getStudy();
                            this.queryCourse();
                        } else {
                            $("#y-login").hide();
                            $("#n-login").show();
                        }
                    });
                } else {
                    $("#y-login").hide();
                    $("#n-login").show();
                }
                            
            },
            getCookie: function(key) {
                var arr1 = document.cookie.split("; ");
                for (var i = 0; i < arr1.length; i++) {
                    var arr2 = arr1[i].split("="); //通过=截断，把name=Jack截断成[name,Jack]数组;
                    if (arr2[0] == key) {
                        return decodeURI(arr2[1]);
                    }
                }
            },
            queryCourse: function() {
                var url = "curriculum/queryCurriculum?u_id=" + this.uid;
                this.$http.post(url).then(function(response) {
                    if (response.status != 200) {
                        alert(response.status);
                        return;
                    }
                    if(response.data.length == 0){
                    	$("#b2").hide();
                    }
                    this.list = response.data;
                    console.log(this.list);
                });
            },
         	// 查看当前用户看过的所有课程信息
            getStudy: function(){
            	var url = "learn/queryByU_id?u_id=" + this.uid;
            	this.$http.get(url).then(function(response) {
                    if(response.data.length != 0){
                    	this.livt = response.data;
                    }else{
                    	$("#b1").hide();
                    }
                });
            }
        }
    })

</script>

</html>
